@use "../../_base";

.landing {
  display: flex;
  color: black;
  align-items: center;
  width: 100%;
  height: 40rem;
  margin: 5rem auto;

  img {
    height: 25rem;
    object-fit: cover;
    box-sizing: content-box;
    filter: drop-shadow(15px 0px 5px rgba(0, 0, 0, 0.5));
  }

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    padding: 2rem;
    margin: 0 15rem;
    background-color: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    transition: 0.2s ease-out;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);

    h1 {
      font-size: 4rem;
    }

    p {
      margin: 2rem 0;
    }
  }
}

.button__container {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .landing {
    width: 100%;
    height: unset;
    margin: 1rem 0;

    img {
      display: none;
    }

    &Container {
      display: flex;
      margin: 0 auto;
      width: 20rem;
      height: 30rem;
      padding: 2rem;
    }

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .button__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between!important;

      Button {
        padding: 0.5rem 1rem;
        margin: 1rem;
      }
    }
  }
}
