@use "../../_base";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;

  img {
    width: 3rem;
    cursor: pointer;
    transition: ease-out 0.4s transform;

    &:hover {
      transform: scale(1.2) rotate(-180deg);
    }
  }

  .Menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    li {
      margin: 0 2rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      cursor: pointer;
      white-space: nowrap;
      transition: ease-out 0.2s filter;

      &:hover {
        filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, 0.5));
      }

      &.login {
        margin: 0 0rem 0 5rem;
        border: 2px solid white;
        border-radius: 10px;

        transition: ease-out 0.2s filter, 0.5s background, 0.5s color;
        background: linear-gradient(to right, white 50%, transparent 50%);
        background-position: right bottom;
        background-size: 200% 100%;

        &.login:hover {
          color: black;
          background-position: left bottom;
        }
      }
    }
  }
  h1 {
    font-weight: 600;
  }
}

@media screen and (max-width: 750px) {
  header {
    padding: 2rem 0.5rem;
    .Menu {
      display: none;
    }
  }

  .BurgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    .Burger {
      width: 25px;
      height: 2px;
      margin: 0.2rem;
      border-radius: 3px;
      background-color: white;
    }
  }

  .Open {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    z-index: 999;
    margin: 5rem 0;

    li {
      text-align: center;
      padding: 1rem;
      width: 100%;
    }
  }
}
