@use "../../_base";

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 4rem 0 0 0;

  .Dev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    h1 {
      font-family: AirStrike;
    }
    img {
      margin: 0 1rem;
      width: 12rem;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      margin: 1rem;
    }
  }

  .Copyright {
    display: flex;
    margin: 1rem auto;

    span {
      letter-spacing: 1px;
    }
  }
}
