@use "../../_base";

.Login {
  display: flex;
  width: 25rem;
  height: 29rem;
  margin: 5rem auto;
  padding: 2rem 2rem;
  background-color: rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow:0 8px 10px rgba(0, 0, 0, 0.5);

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .Inputfields {
      display: flex;
      flex-direction: column;
      .Inputfield {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        input {
          color: white;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          margin: 1rem 0;
          background-color: rgba(255, 255, 255, 0.1);
          caret-color: white;

          /*&:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px rgb(251, 251, 251) inset !important;
        }*/
        }
      }
    }
    .Signup {
      display: flex;
      flex-direction: column;
      align-items: center;

      Button {
        margin: 0 auto;
        padding: 0.5rem 1rem;
      }

      span {
        margin: 2rem 0 1rem 0;
        color: white;
      }

      .Hyperlink {
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
