.Redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;

  img {
    margin: 5rem;
    width: 15rem;
    animation: spin 5000ms infinite linear;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
